body {
    color: darkblue;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    font-family: Verdana;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

header {
    grid-area: header;
    text-align: center;
}
main {
    grid-area: main;
    box-shadow:0px -25px 50px -5px darkblue;
    background-color: white;
}

footer {
    grid-area: footer;
    margin: 0;
    color: white;
    background-color: darkblue;
    text-align: center;
    margin-top: auto !important; 
}

.line {
    justify-content: center;
    display: flex;
}

.square {
    width: 30px;
    height: 30px;
}

.target {
    background-color: lime;
    background: url("../assets/sprites.png") -180px 0px;
}

.floor {
    background-color: blue;
    background: url("../assets/sprites.png") -120px 0px;
}

.box {
    background-color: yellow;
    background: url("../assets/sprites.png") -150px 0px;
}

.boxOnTarget {
    background-color: orange;
    background: url("../assets/sprites.png") -150px -30px;
}

.wall {
    background-color: grey;
    background: url("../assets/sprites.png") -120px -30px;
}

.player {
    background-color: magenta !important;
}

#cptBlock {
    border: 2px solid;
    display: flex;
    background-color: yellow;
    margin-bottom: 8px;
}

#cpt {
    color: red;
}

#levelBlock {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    color: red;
    font-weight: bold;
    font-size: xx-large;
}

#msg {
    margin-bottom: 16px;
    color: black;
    font-size: medium;
    text-align: center;
}

.player-front {
    background: url("../assets/sprites.png") -30px 0px;
}

.player-front2 {
    background: url("../assets/sprites.png") -30px -30px;
}

.player-up {
    background: url("../assets/sprites.png") -60px 0px;
}

.player-up2 {
    background: url("../assets/sprites.png") -60px -30px;
}

.player-left {
    background: url("../assets/sprites.png") 0px 0px;
}

.player-left2 {
    background: url("../assets/sprites.png") 0px -30px;
}

.player-right {
    background: url("../assets/sprites.png") -90px 0px;
}

.player-right2 {
    background: url("../assets/sprites.png") -90px -30px;
}

#world {
    margin-bottom: 16px;
}
